.container {
  max-width: 1000px;
  margin: auto;
  background: #f5f8fb;
  padding: 2rem;
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.logo {
  width: 32px;
  height: 32px;
}

h2 {
  color: #0a1c40;
  font-weight: 600;
}

.search-box {
  padding: 0.5rem 1rem;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1.2rem;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.product-table th,
.product-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.product-table thead {
  background-color: #eff3f8;
  font-weight: 600;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.error-msg {
  color: crimson;
  font-weight: bold;
  margin-bottom: 1rem;
}


.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

select {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.header-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.add-btn {
  padding: 0.5rem 1.2rem;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background-color: #002c5a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 6px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #f0f0f0;
}

body, .container, table, input, h2, p, td, th ,label, .error{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1a1f36;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-box {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  width: 400px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.cancel-btn {
  background-color: #f2f4f8;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  font-weight: bold;
  color: #1a2b4c;
  cursor: pointer;
}

.confirm-btn {
  background-color: #fdf3b6;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  font-weight: bold;
  color: #1a2b4c;
  cursor: pointer;
}

.bank-logo {
  width: 50px;
  height: 50px;
  background-color: #002244; /* Azul oscuro */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 40px;
    height: 25px;
    background-color: navy;
    position: relative;
    border-radius: 4px; 
     display: flex;
    justify-content: center; 
    align-items: center; 
}

.logo::after {
    content: '';
    position: absolute;
    bottom: 5px; /* separación desde la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* ancho de la línea blanca */
    height: 2px;
    background-color: white;
}




